COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
confdefs.h
conftest
conftest.erl
config.guess
config.guess.cdbs-orig
config.log
config.status
config.sub
config.sub.cdbs-orig
configure
configure.ac
configure.lineno
configure.tmp
depcomp
erl_crash.dump
libtool
ltmain.sh
py-compile
install-sh
missing
mydlp.app
mydlp.rel
*.beam
*.boot
*.script
*.pyo
*.pyc
*~
package_version
package_revision
debian/changelog
debian/files
debian/mydlp-endpoint-linux.debhelper.log
debian/mydlp-endpoint-linux.substvars
debian/mydlp-endpoint-linux
debian/mydlp-endpoint-linux.*.debhelper
debian/stamp-autotools-files
debian/stamp-makefile-build
debian/stamp-autotools
debian/stamp-makefile-install
tmp/
